html {
    font-size: 1rem;
  }
h1{
    font-family:Arial, Helvetica, sans-serif;
    color:aliceblue;
    font-size: 4rem;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
    color:aliceblue;
    font-size: 2rem;
}
h4{
    font-family:Arial, Helvetica, sans-serif;
    color:aliceblue;
    font-size: 1rem;
}
.title{
    background-image: url(img/main.jpg);
    background-position: center;
}
button{
    cursor: pointer;
    border: 2px solid #000000;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: #ffffff;
    font-size: 1.5em;
    transition: 0.3s;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
button:hover{
    background-color: #000000;
}